.course_detail_mainDiv {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.courseDetailsImage {
  width: 100%;
}
.imgcourseDetailsImage {
  width: 100%;
}
.titleCD {
  font-size: 22px;
  font-weight: normal;
}
.descriptionCD {
  font-size: 14px;
}
.course_detail_main {
  width: 95%;
}
.topPart {
  background-color: rgb(55, 53, 53);
  color: white;
  padding: 25px;
}
.bottomPart {
  background-color: rgb(55, 53, 53);
  color: white;
  padding: 25px;
}
.StartClass:hover {
  color: white;
}
.courseDetailsPrice {
  font-size: 30px;
}

.CrouseDeatailsVideo {
  /* background-color: green; */
  height: 50vh;
}

.VideoDetails {
  width: 100%;
  height: 100%;
}

.StripeCheckout {
  width: 100%;
  height: 50px;
  background: #ec5c5c !important;
}

.StripeCheckout span {
  background-color: #ec5c5c !important;
  /* background: none !important; */
  background-image: none !important;
  border: none !important;
  box-shadow: none !important;
}
